{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        div.scroll {
            margin: 4px, 4px;
            padding: 4px;
            width: 95%;
            height: 350px;
            overflow-x: auto;
            overflow-y: auto;
            text-align: justify;
            border: 2px solid rgb(196, 224, 196);
            border-radius: 9px;
            position: relative;
        }

        ::-webkit-scrollbar {
            width: 3px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgb(49, 39, 39);
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #b81f1f;
        }


        .chat_box {
            border: 1px solid black;
            width: 50%;
            height: auto;
            border-radius: 8px;
            padding: 3px;
            background-color: #7d7dee;
        }
    </style>
</head>

<body>
    {% load convert_date %}
    <h2>🧒 | {{opposite_user.username | title}}
    </h2>
    <div>
        <div id="chat-log" class="scroll">
            {% for msg in fetch_all_message %}
            <p id="{{ msg.id }}" class="chat_box" style="background-color: {{ box_color }}">
                <small><b class="check_user">{{ msg.user.username }}</b> -
                    {{ msg.message_detail.timestamp |convert_date|date:"M d'Y f" }}</small>
                <br />
                {% if msg.message_detail.msg %}
                <span style="padding: 7px; color: #ffffff; font-weight: bold;"> • {{ msg.message_detail.msg }}</span>
                {% elif msg.message_detail.image_url %}
                <img id="img_{{ msg.id }}" src="{{ msg.message_detail.image_url }}">
                {% else %}
                <!-- Wrap the icon within an anchor tag -->
                {% if msg.fileExtension == '.docx' or msg.fileExtension == '.doc' %}
                <a href="{{ msg.message_detail.url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/file-word-solid.svg' %}" style="width: 75px; height:75px">
                </a>
                {% elif msg.fileExtension == '.ppt' or msg.fileExtension == '.pptx' %}
                <a href="{{ msg.message_detail.url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/file-powerpoint-solid.svg' %}" style="width: 75px; height:75px">
                </a>
                {% elif msg.fileExtension == '.csv' %}
                <a href="{{ msg.message_detail.url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/file-csv-solid.svg' %}" style="width: 75px; height:75px">
                </a>
                {% elif msg.fileExtension == '.pdf' %}
                <a href="{{ msg.message_detail.url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/file-pdf-solid.svg' %}" style="width: 75px; height:75px">
                </a>
                {% elif msg.fileExtension == '.txt' %}
                <a href="{{ msg.message_detail.url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/file-solid.svg' %}" style="width: 75px; height:75px">
                    {% else %}
                    <a href="{{ msg.message_detail.url }}" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'images/file-regular.svg' %}" style="width: 75px; height:75px">
                    </a>
                    {% endif %}
                    {% endif %}
                    <br />
                    {% if msg.user == request.user %}
                    <small id="as_read" style="padding-left: 95%; 
                {% if msg.message_detail.read %} 
                color: rgb(8, 255, 8);{% else %}color: #bbb8b8{% endif %} font-weight: bold;">✔✔</small>
                    {% endif %}
            </p>
            {% endfor %}
        </div><br>

        <!-- Update your HTML form -->

        <div>
            <div style="position: relative;">
                <input id="chat-message-input" type="text" placeholder="Enter Message..." autofocus
                    style="width: calc(50% - 60px); padding: 8px 40px 8px 8px;">
                <button id="image-upload-btn">📷</button>
                <button id="file-upload-btn"><i class="fas fa-file"></i></button>
                <button id="submit-btn">Send</button>
            </div>

            <input id="image-input" type="file" style="display: none;"> <!-- Add image-type input field -->
            <input id="file-input" type="file" style="display: none;"> <!-- Add non-image type input field -->

        </div>


    </div>
    {{ room_name|json_script:"room_name" }}

</body>

</html>

<script>
    const roomName = JSON.parse(document.getElementById('room_name').textContent);

    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    var send_all_read = () => {
        setTimeout(() => {
            chatSocket.send(JSON.stringify({
                'msg_type': 'ALL_MESSAGE_READ',
                'user': '{{request.user.username}}'
            }));
            document.querySelector('title').textContent = "Chat Room"
        }, 1000)
    }

    WebSocket.onopen = send_all_read()

    var messageBody = document.querySelector('.scroll');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;

    const add_element = (data, box_color) => {
        const user = data.user === '{{request.user.username}}' ? "You" : data.user;
        const error_msg =
            data.error_message === 'MESSAGE_OUT_OF_LENGTH'
                ? "<br/>" + "Error:Msg size must be less than 10 char." + "<br/>" + " • This Message not sent.."
                : false;
        const add_read = data.user === '{{request.user.username}}' ? '<small id="as_read" style="padding-left: 95%; color: #bbb8b8; font-weight: bold;">✔✔</small>' : '';

        let element = ''; // Initialize the HTML element variable

        // Check if the message is a text message
        if (data.msg_type === 'TEXT_MESSAGE') {
            element = `
            <p id="${data.msg_id}" class="chat_box" style="background-color: ${box_color};">
                <small><b>${user}</b> - ${data.timestampe}</small><br/>
                <span style="color: #ffffff; font-weight: bold;"> • ${data.message}<small><br/>${error_msg ? error_msg : add_read}</small></span><br/>
            </p>
        `;
        }
        // Check if the message is an image message
        else if (data.msg_type === 'IMAGE_MESSAGE') {
            element = `
        <p id="${data.msg_id}" class="chat_box" style="background-color: ${box_color};">
            <small><b>${user}</b> - ${data.timestampe}</small><br/>
            <img src="${data.message}" alt="Image" style="max-width: 100%; max-height: 200px;"><br/>
            ${add_read}
        </p>
    `;
        }
        // Check if the message is an file message
        else if (data.msg_type === 'FILE_MESSAGE') {
            // Determine icon based on file extension
            let icon = '';
            let fileExtension = data.key

            if (fileExtension === 'txt') {
                icon = '<i class="fas fa-file-alt"></i>'; // Icon for text files

            } else if (fileExtension === 'docx' || fileExtension === 'doc') {
                icon = '<i class="fas fa-file-word"></i>'; // Icon for Word documents
                console.log({ "url": data.file_url })
            } else if (fileExtension === 'csv') {
                icon = '<i class="fas fa-file-csv"></i>'; // Icon for CSV files
            } else if (fileExtension === 'ppt' || fileExtension === 'pptx') {
                icon = '<i class="fas fa-file-powerpoint"></i>'; // Icon for PowerPoint files
            } else if (fileExtension === 'zip') {
                icon = '<i class="fas fa-file-archive"></i>'; // Icon for ZIP files
            } else {
                icon = '<i class="fas fa-file"></i>'; // Default icon for other file types
            }

            console.log({ "url": data.file_url })
            element = `
                <p id="${data.msg_id}" class="chat_box" style="background-color: ${box_color};">
                    <small><b>${user}</b> - ${data.timestampe}</small><br/>
                    <a href="#" onclick="window.open('${data.file_url}', '_blank')"><i class="fas fa-3x">${icon}</i></a><br/> 
                    ${add_read}
                </p>`;
        }


        // Append the element to the chat log
        document.querySelector('#chat-log').innerHTML += element;
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    };





    const check_read = (user_name, msg_id) => {
        if (document.hidden) {
            let unread_msg = document.querySelector('title').textContent.split(":")[1];
            if (unread_msg) {
                document.querySelector('title').textContent = "Unread Messages : " + (parseInt(unread_msg) + 1)
            }
            else {
                document.querySelector('title').textContent = "Unread Messages : " + 1
            }
        }
        else {
            if (user_name !== '{{ request.user.username }}') {
                chatSocket.send(JSON.stringify({
                    'msg_type': 'MESSAGE_READ',
                    'msg_id': msg_id,
                    'user': user_name
                }));
            }
        }
    }

    document.addEventListener("visibilitychange", event => {
        if (document.visibilityState == "visible") {
            let unread_msg = document.querySelector('title').textContent.split(":")[1];
            if (unread_msg) {
                send_all_read()
            }
        }
    })

    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        if (data.msg_type === 'ERROR_OCCURED') {
            if (data.error_message === 'MESSAGE_OUT_OF_LENGTH') {
                box_color = 'red'
                add_element(data, box_color)
            }
            else if (data.error_message === 'UN_AUTHENTICATED') {
                alert("You are not authenticated user!!!Login Again..")
            }
        }
        else if (data.msg_type === 'TEXT_MESSAGE') {
            box_color = '#7d7dee'
            add_element(data, box_color)
            check_read(data.user, data.msg_id)
        }
        else if (data.msg_type === 'IMAGE_MESSAGE') {
            box_color = '#7d7dee'
            add_element(data, box_color)
            check_read(data.user, data.msg_id)

        }
        else if (data.msg_type === 'FILE_MESSAGE') {
            box_color = '#7d7dee'
            add_element(data, box_color)
            check_read(data.user, data.msg_id)

        }
        else if (data.msg_type === 'MESSAGE_READ') {
            if (data.user === '{{ request.user.username }}') {
                setTimeout(() => { document.getElementById(data.msg_id).querySelector('#as_read').style.color = 'rgb(8, 255, 8)' }, 300);
            }
        }
        else if (data.msg_type === 'IS_TYPING') {
            if (data.user !== '{{ request.user.username }}') {
                document.getElementById('chat-log').innerHTML += "<span id = 'isTyping'>Typing....</span>"
                messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
            }
        }
        else if (data.msg_type === 'NOT_TYPING') {
            if (data.user !== '{{ request.user.username }}') {
                document.getElementById('chat-log').removeChild(document.getElementById("isTyping"))
            }
        }
        else if (data.msg_type === 'ALL_MESSAGE_READ') {
            if (data.user !== '{{ request.user.username }}') {
                let check_all_read = document.querySelectorAll('#as_read')
                for (let i = 0; i < check_all_read.length; i++) {
                    if (check_all_read[i].style.color !== 'rgb(8, 255, 8)') {
                        check_all_read[i].style.color = 'rgb(8, 255, 8)'
                    }
                }
            }
        }

    };

    document.querySelector('#chat-message-input').onkeyup = (e) => {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    var isTyping = false;
    var isNotTyping;
    document.getElementById('chat-message-input').onkeypress = () => {
        sendIsTypingToUser()
        if (isNotTyping != undefined) clearTimeout(isNotTyping);
        isNotTyping = setTimeout(sendIsNotTyping, 700);
    };
    function sendIsTypingToUser() {
        if (!isTyping) {
            chatSocket.send(JSON.stringify({
                'user': '{{request.user.username}}',
                'msg_type': 'IS_TYPING',
            }));
            isTyping = true
        }
    }
    function sendIsNotTyping() {
        chatSocket.send(JSON.stringify({
            'user': '{{request.user.username}}',
            'msg_type': 'NOT_TYPING',
        }));
        isTyping = false
    }

    document.querySelector('#image-upload-btn').onclick = () => {
        // Trigger file input click
        document.getElementById('image-input').click();
    };

    document.querySelector('#image-input').onchange = (e) => {
        // Function to handle file upload
        const fileInput = document.getElementById('image-input')
        if (fileInput.files.length > 0) {
            const file = fileInput.files[0];
            const reader = new FileReader();
            reader.onload = function (event) {
                const imageData = event.target.result;
                const message = { // Construct a message object containing the image data
                    'image': imageData,
                    'msg_type': 'IMAGE_MESSAGE',
                    'user': '{{ request.user.username }}'
                };
                chatSocket.send(JSON.stringify(message)); // Send the image data to the server
            };
            reader.readAsDataURL(file); // Read the file as data URL
        }
    };

    document.querySelector('#file-upload-btn').onclick = () => {
        // Trigger file input click
        document.getElementById('file-input').click();
    };
    document.querySelector('#file-input').onchange = (e) => {
        const fileInput = document.getElementById('file-input');
        const file = fileInput.files[0];

        // Check if a file was selected
        if (file) {
            const formData = new FormData();
            formData.append('file', file);
            // Get the current URL path
            const currentPath = window.location.pathname;
            // Construct the upload URL
            const uploadUrl = currentPath + 'upload-file/';
            // Send the file to the Django view for validation and processing
            fetch(uploadUrl, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
                    'sessionid': getCookie('sessionid') // Include sessionid
                }
            })
                .then(response => response.json())
                .then(data => {
                    // Broadcast the URL to the chat group
                    const message = {
                        'file_url': data.file_url,
                        'key': data.key,
                        'msg_type': 'FILE_MESSAGE',
                        'user': '{{ request.user.username }}'
                    };
                    chatSocket.send(JSON.stringify(message));
                })
                .catch(error => console.error('Error uploading file:', error));
        } else {
            alert('Please select a non-image file.');
        }
    };


    // If no file is selected, send the text messa
    document.querySelector('#submit-btn').onclick = () => {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value.trim();
        if (message) {
            chatSocket.send(JSON.stringify({
                'message': message,
                'msg_type': 'TEXT_MESSAGE',
                'user': '{{request.user.username}}'
            }));
            messageInputDom.value = '';
        }
    };




    const check_user = document.querySelectorAll(".check_user")
    for (let i = 0; i < check_user.length; i++) {
        if (check_user[i].innerText === '{{ request.user.username }}') {
            check_user[i].innerText = 'You'
        }
    }



    // Function to get the CSRF token and sessionid from the cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>